In [1]:
# The packages I will need for downloading the pages and parsing the data
import requests
from bs4 import BeautifulSoup
import  pandas as pd
import re

In [2]:
page = requests.get('https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/start/1')
soup = BeautifulSoup(page.content, 'html.parser')
#print(soup.prettify())

In [3]:
colhead = soup.find('tr', class_ = 'colhead')
#print(colhead)
columns = []
for td in colhead.find_all('td'):
    columns.append(td.get_text().strip())
    
columns

['',
 'PLAYER',
 'YRS',
 'G',
 'AB',
 'R',
 'H',
 '2B',
 '3B',
 'HR',
 'RBI',
 'BB',
 'SO',
 'SB',
 'CS',
 'BA']

In [4]:
df = pd.DataFrame(columns = columns)
df

Empty DataFrame
Columns: [, PLAYER, YRS, G, AB, R, H, 2B, 3B, HR, RBI, BB, SO, SB, CS, BA]
Index: []

In [5]:
for tr in soup.find_all('tr', re.compile('row player-10-')):
    stats = [stat.get_text() for stat in tr.find_all('td')]
    
    #print(stats, end = '\n')
    
    temp_df = pd.DataFrame(stats).transpose()
    temp_df.columns = columns
    
    df = pd.concat([df, temp_df], ignore_index = True)
    
df.head(10)

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Mookie Betts,7,136,520,129,180,47,5,32,80,81,91,30,6,.346
1,2,J.D. Martinez,10,150,569,111,188,37,2,43,130,69,146,6,1,.330
2,3,Jeff McNeil,3,63,225,35,74,11,6,3,19,14,24,7,1,.329
3,4,Christian Yelich,8,147,574,118,187,34,7,36,110,68,135,22,4,.326
4,5,Jose Altuve,10,137,534,84,169,29,2,13,61,55,79,17,4,.316
5,6,Justin Turner,12,103,365,62,114,31,1,14,52,47,54,2,1,.312
6,,Mike Trout,10,140,471,101,147,24,4,39,79,122,124,24,2,.312
7,8,Scooter Gennett,7,154,584,86,181,30,3,23,92,42,125,4,2,.310
8,9,Michael Brantley,12,143,570,89,176,36,2,17,76,48,60,12,3,.309
9,,Freddie Freeman,11,162,618,94,191,44,4,23,98,76,132,10,3,.309

In [6]:
for i in range(1, 331, 50):
    url = 'https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/start/{}'.format(i) 
    page = requests.get(url) 
    soup = BeautifulSoup(page.content, 'html.parser')

    for tr in soup.find_all('tr', re.compile('row player-10-')):
        stats = [stat.get_text() for stat in tr.find_all('td')]

        #print(stats, end = '\n')

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        df = pd.concat([df, temp_df], ignore_index = True)

df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Mookie Betts,7,136,520,129,180,47,5,32,80,81,91,30,6,.346
1,2,J.D. Martinez,10,150,569,111,188,37,2,43,130,69,146,6,1,.330
2,3,Jeff McNeil,3,63,225,35,74,11,6,3,19,14,24,7,1,.329
3,4,Christian Yelich,8,147,574,118,187,34,7,36,110,68,135,22,4,.326
4,5,Jose Altuve,10,137,534,84,169,29,2,13,61,55,79,17,4,.316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,,Gary Sanchez,6,89,323,51,60,17,0,18,53,46,94,1,0,.186
377,328,Aaron Altherr,6,105,243,28,44,11,1,8,38,36,91,3,2,.181
378,329,Dexter Fowler,13,90,289,40,52,10,0,8,31,38,75,5,2,.180
379,330,Sandy Leon,9,89,265,30,47,12,0,5,22,15,75,1,0,.177
380,331,Chris Davis,13,128,470,40,79,12,0,16,49,41,192,2,0,.168